#############################################
# These additional PIP3 packages are required
#############################################

# Pattoo packages

PattooShared>=0.0.69

# Miscellaneous packages

ipaddress
psutil
Flask
gunicorn
requests
PyYAML
ipaddress
easysnmp
pymodbus
BAC0
