#############################################
# These additional PIP3 packages are required
#############################################

# Pattoo packages

PattooShared==0.0.82

# Miscellaneous packages

ipaddress
psutil
Flask
gunicorn
requests
PyYAML
ipaddress

# SNMP
easysnmp

# Modbus
pymodbus

# BACnet
BAC0

# OPCUA
asyncua
