[Unit]
Description=pattoo-os-autonomousd daemon
Wants=network.target
After=network.target

[Service]
Environment="PATTOO_AGENTS_CONFIGDIR=x"
Environment="BIN_DIR=x"
ExecStart=$BIN_DIR/pattoo-os-autonomousd --start
ExecStop=$BIN_DIR/pattoo-os-autonomousd --stop
ExecReload=$BIN_DIR/pattoo-os-autonomousd --restart

[Install]
WantedBy=multi-user.target
