[Unit]
Description=pattoo-os-hubd daemon
Wants=network.target
After=network.target

[Service]
Environment="PATTOO_AGENTS_CONFIGDIR=x"
Environment="BIN_DIR=x"
ExecStart=$BIN_DIR/pattoo-os-hubd --start
ExecStop=$BIN_DIR/pattoo-os-hubd --stop
ExecReload=$BIN_DIR/pattoo-os-hubd --restart

[Install]
WantedBy=multi-user.target
