[Unit]
Description=pattoo-os-spoked daemon
Wants=network.target
After=network.target

[Service]
Environment="PATTOO_CONFIGDIR=x"
Environment="BIN_DIR=x"
ExecStart=$BIN_DIR/pattoo-os-spoked --start
ExecStop=$BIN_DIR/pattoo-os-spoked --stop
ExecReload=$BIN_DIR/pattoo-os-spoked --restart

[Install]
WantedBy=multi-user.target
